# Introduction to Databased in Python

Relationtional databases are made up of tables which store our data. Tables can be related to one another by a column acting as a key or bridge that tells it which piece of data it is associated with in another table. This feature is where relational databases get the relational part of their name.

Relational model consists of tables, columns, rows, and relationships between them.

# SQLAlchemy

SQLAlchemy is an important database querying tool for Python.  SQLAlchemy will allow us to generate SQL queries by writing Python code.

SQLAlchemy has two main components:


1.   Core (Relational Model focused)
2.   ORM (Object Relational Model; User Data Model focused)

There are many types of databases:

1. SQLite
2. PostgreSQL
3. MySQL
4. MS SQL
5. Oracle

SQLAlchemy provides a way to operate across all of these database types in a consistent manner. 

# Connecting to a database

To connect to a database, we need a way to talk to it, and an engine provides that common interface.  To create an engine, we import the `create_engine` function from SQLAlchemy; we then use the `create_engine` function and supply it a connection string that provides the details needed to connect to a database. Finally, once we have an engine, we are ready to make a connection using the connect method on the engine.

In [0]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///census_nyc.sqlite')
connection = engine.connect()

It's worth noting that SQLAlchemy won't actually make the connection until we give it some work to execute. So to review, an engine is the common interface to database, which requires a connection string to provide the details used to find and connect to the database.

A note about connection strings: in their simplest form, they tell us what kind of database we are talking to and how we should access it. Connection strings provide all the details required to find the database and login, if necessary.

---
`'sqlite:///census_nyc.sqlite'`

`sqlite` is database driver and dialect.

`census_nyc.sqlite` is the filename.

---

# What is in your database?

Before querying your database, you'll want to know what is in it: what the tables are, for example:


```
from sqlalchemy import create_engine
engine = create_engine('sqlite:///census_nyc.sqlite')
print(engine.table_names())
['census', 'state_fact']

```

# Reflection

Once we know what table we want to work on, we need a way to access that table with python. To do so, we are going to use a handy process called reflection, which reads the database and builds a Table object that we can use in our code.  We already have created our engine, so we begin by importing the MetaData and Table objects needed for reflection. The **MetaData** object is a catalogue that stores database information such as tables so we don't have to keep looking them up. To reflect the table, we initialize a MetaData object. Next, we use the SQLAlchemy Table object and provide the table name we got earlier from the `table_names` method. We also supply our metadata instance, and the instruct it to autoload the table using the engine. Finally, we can use the function `repr` to view the details of our table that we stored as census. This allows us to see the names of the columns, such as `'state' `and `'sex'`, along with their types, such as `VARCHAR` and `INTEGER`.

This process of reflection may seem a bit of an overhead, but it will make understanding your databases and extracting information from them far easier downstream.

In [0]:
from sqlalchemy import MetaData, Table
metadata = MetaData()
census = Table('census', metadata, autoload=True, autoload_with=engine)

print(repr(census))

NoSuchTableError: ignored

# SQL Overview

Basic SQL querying is using the SELECT statement.  The general syntax of a select statement is `'select COLUMNS from TABLE CONDITIONS.'`

```
SELECT column_name FROM table_name
SELECT pop2008 FROM People
SELECT * FROM People
```

In [0]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///census_nyc.sqlite')
connection = engine.connect()
stmt = 'SELECT * FROM people'
result_proxy = connection.execute(stmt)
results = result_proxy.fetchall()

OperationalError: ignored

# ResultProxy vs ResultSet

ResultProxy can be used in a variety of different ways to get the data returned by our query. When we use a fetch method, such as `fetchall()` on the ResultProxy, we get a ResultSet that contains the actual data we asked for in the query. This separation between the ResultProxy and the ResultSet allows us to fetch as much or as little data as we desire.

```
result_proxy = connection.execute(stmt)
results = result_proxy.fetchall()```

# Handling ResultSets

```
first_row = results[0]
print(first_row)
('Illinois', 'M', 0, 89600, 95012)
print(first_row, keys())
['state', 'sex', 'age', 'pop2000', 'pop2008']
print(first_row.state)
'Illinois'
```

# Main differences between a ResultProxy and a ResultSet:

**ResultProxy:** The object returned by the `.execute()` method. It can be used in a variety of ways to get the data returned by the query.

**ResultSet:** The actual data asked for in the query when using a fetch method such as `.fetchall()` on a ResultProxy.

This separation between the ResultSet and ResultProxy allows us to fetch as much or as little data as we desire.

Once we have a ResultSet, we can use Python to access all the data within it by column name and by list style indexes. For example, you can get the first row of the results by using `results[0]`. With that first row then assigned to a variable `first_row`, you can get data from the first column by either using `first_row[0]` or by column name such as `first_row['column_name']`.

# SQLAlchemy to Build Queries


*   Provides a Pythonic way to build SQL statements (Pythonic refers to code that adheres to the idioms of Python's common guidelines and express its intent in a highly readable way.)
*   Hides differences between backend database types (so we can focus on the data)

# SQLAlchemy querying
```
from sqlalchemy import Table, MetaData
metadata = MetaData()
census = Table('census', metadata, autoload=True, autoload_with=engine)
stmt = select([census])
results = connection.execute(stmt).fetchall()
```
# SQLAlchemy Select Statement


*   Requires a list of one or more Tables or Columns
*   Using a table will select all the columns in it
```
stmt = select([census])
print(stmt)
'SELECT * from CENSUS'
```

# Filtering and Targeting Data

So far, we've selected all the rows from a table. However, there is a way to filter rows by their values in particular columns using a `'where()'` clause on our select statements. For example, let's say that we want to select all the records for the state of California. We start with the same select statemnet and add a where clause onto it that specifies that the value in the 'State' column must be equal to California. We then execute the statement and fetch all the results, as we have done before. We wrap up by looping over the results and print the state and age column from each row.

``` 
stmt = select([census])
stmt = stmt.where(census.columns.state == 'California')
results = connection.execute(stmt).fetchall()

for result in results:
    print(result.state, result.age)
    
California 0
California 1
California 2
California 3
California 4
California 5
```
# Where Clauses

More generally, where clauses restrict data by performing an evaluation of a condition (boolean), often, this is a column that we want to compare with a value or another column. In addtion to euality (`==`), with numerical values, there are also operators for '`<=`', '`>=`', or '`!=`', as well as other standard math comparison operators. 

where() clause is used to filter the data that a statement returns. For example, to select all the records from the census table where the sex is Female (or 'F') we would do the following:

select([census]).where(census.columns.sex == 'F')

In addition to == we can use basically any python comparison operator (such as <=, !=, etc) in the where() clause.

# Expressions

In addition to such comparisons, there also SQL expressions that provide more complex conditions than simple operators.

* `in_()` (matches the column's value against a list)
* `like()` (matches the column's value against a partial value with wildcards)
* `between()` (checks to see if the column's value is between two supplied values)

[More about operators and expressions here.](https://realpython.com/python-operators-expressions/)

These expressions are available as methods on our Column objects. We can use such expressions to do things such as find all the state names that start with 'New'. Note that `fetchall()` method is not used because this is a feature of SQLAlchemy that allows the ResultProxy to be used as the target of a loop.

```
stmt = select([census])
stmt = stmt.where(census.columns.state.startswith('New'))

for result in connection.execute(stmt):
    print(result.state, result.pop2000)
    
New Jersey 56983
New Jersey 56686
New Jersey 57011
...
```
# Conjunctions

We can also use conjunctions which allow us to have multiple criteria in a 'where' clause. 
* `and_()`
* `not_()`
* `or_()`

These conjunctions work just like they our in a sentence. Conjunctions can be useful for getting exactly the data we want. These methods have ( _ ) in their names. This is to avoid conflicting with the python methods of the same names.
```
from sqlalchemy import or_
stmt = select([census])
stmt = stmt.where(
    or_(census.columns.state == 'California',
             census.columns.state == 'New York'
    )
 )
 
 for result in connection.execute(stmt):
    print(result.state, result.sex)
    
 New York M
 ...
```

In [0]:
# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census')

# Use the .table_names() method on the engine to print the table names
print(engine.table_names())

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

['census', 'state_fact', 'vrska', 'data', 'data1', 'users']

# Ordering Query Results

Often when we are building queries, we will want to order the return data alphabetically, numerically, or by dates. It is easy to do so in SQLAlchemy by using the `'order_by()'` method on any statement, which by default orders from lowest to highest. In the case of strings, this means in alphabetical order.

# Order by Ascending
```
print(results[:10])
[('Illinois,), ...')]

stmt = select([census.columns.state])
stmt = stmt.order_by(census.columns.state)
results = connection.execute(stmt).fetchall()

print(results[:10])
[('Alabama',), ...]
```
# Order by Descending
• Wrap the column with `desc()` in the `order_by()` clause.

# Order by Multiple
• just separate multiple columns with a comma
• Orders completely by the first column
• Then if there are duplicates in the first column, orders by the second column
• repeat until all columns are ordered

```
print(results)
('Alabama', 'M') ...

stmt = select([census.columns.state, census.columns.sex])
stmt = stmt.order_by(census.columns.state, census.columns.sex)

results = connection.execute(stmt).first()

print(results)
('Alabama', 'F') ...
```

# Counting, Summing and Grouping Data

Things like count and sum are SQL aggregation functions, and they can be found in the `'func'` SQLAlchemy module. 
```
from sqlalchemy import func
```
It's far more efficient to let SQL perform these functions than to get all the results and loop over them in Python. We call them aggregation functions because they collapse multiple records into one.

After creating an engine, metadata, and reflected the table, import the `func` module. Then in the `select` statement, where we normally just put the column, we put column wrapped by `func.sum()`. Then use the scalar fetch method to get back just a value and print it. It is important not to import the sum function directly, because it will conflict with Python's builtin sum function.

```
from sqlalchemy import func
stmt = select([func.sum(census.columns.pop2008)])
results = connection.execute(stmt).scalar()

print(results)
302876613
```

Other `func()` usages:
```
select([func.count(census.columns.pop2008)])

select([func.count(census.columns.pop2008.distinct())])
```

So far, you've seen `.fetchall()` and `.first()` used on a ResultProxy to get the results. The ResultProxy also has a method called `.scalar()` for getting just the value of a query that returns only one row and column. This can be very useful when you are querying for just a count or sum.

# Group by
Often when we are using a function, we want o do so by some grouping of another column.
```
stmt = select([census.columns.sex, func.sum(census.columns.pop2008)])
stmt = stmt.group_by(census.columns.sex)
results = connection.execute(stmt).fetchall()

print(results)
[('F', 153959198), ('M', 148917415)]
```
Much like `order_by`, the `group_by` clause can accept multiple columns and will grou with in the groups from left to right. Every column in the select statement must be in the `group_by` clause or wrapped in a function such as `sum()` or `count()`.

# Group by Multiple
```
stmt = selec([census.columns.sex, census.columns.age, func.sum(census.columns.pop2008)])
stmt = stmt.group_by(census.columns.sex, census.columns.age)
results = connection.execute(stmt).fetchall()

print(results)
[('F', 0, 2105442), ('F', 1, 2087705), ('F', 2, 2037280), ('F', 3, 2012742), ('F', 4, 2014825), ('F', 5, 1991082), ('F', 6, 1977923), ...] 
```
# Handling ResultSets from Functions
When we use a function such as sum or count, the column name that represents the function in our results is set to a placeholder. SQLAlchemy auto generates "column names" for functions in the ResultSet.

For example, if we had a count function in our select statement, it would appear as the `count_1` column in the ResultSet. The column names are often `func_#` such as `count_1`. This can make it difficult to handle the result set; however, we can use the `label()` method on a function to give the output column a specific name. So if we wanted to calculate the population by sex, you can see that it returns a `sum_1` column in the result set.

# Using label()
```
print(results[0].keys())
['sex', u'sum_1']

stmt = select([census.columns.sex, func.sum(census.columns.pop2008).label('pop2008_sum')])
stmt = stmt.group_by(census.columns.sex)
results = connection.execute(stmt).fetchall()

print(results[0].keys())
['sex', 'pop2008_sum']
```
To avoid confusion with query result column names like count_1, we can use the `.label()` method to provide a name for the resulting column. This gets appendedto the function method we are using, and its argument is the name we want to use.

We can pair `func.sum()` with `.group_by()` to get a sum of the population by State and use the `label()` method to name the output.

We can also create the `func.sum()` expression before using it in the select statement. We do it the same way we would inside the select statement and store it in a variable. Then we use that variable in the select statement where the `func.sum()` would normally be.

# SQLAlchemy and Pandas for Visualization

A SQLAlchemy ResultSet can be directly supplied to a DataFrame; however, we need to supply the column names separately.
* DataFrame can take SQLAlchemy ResultSet
* Make sure to set the DataFrame columns to the ResultSet keys

# DataFrame Example

```
import pandas as pd
df = pd.DataFrame(results)
df.columns = results[0].keys()

print(df)
     sex    pop2008_sum
0      F        2105442
1      F        2087705
2      F        2037280
3      F        2012742
...
```
# Graphing
```
import matplotlib.pyplot as plt
df[10:20].plot.barh()
plt.show()
```

# Calculating Values in a Query

Math Operators: addition `+`, subtraction `-`, multiplication `*`, division `/`, modulus `%`

# Calculating Difference
```
stmt = select([census.columns.age, (census.columns.pop2008 - census.columns.pop2000).label('pop_change')])
stmt = stmt.group_by(census.columns.age)
stmt = stmt.order_by(desc('pop_change'))
stmt = stmt.limit(5)
results = connection.execute(stmt).fetchall()

print(results)
[(61, 52672), (85, 51901), (54, 50808), (58, 45575), (60, 44915)]
```
We wrap the difference in parenthesis so we can apply the label `pop_change` to it.

# Case Statement `case()`
Often when we are performing calculations, we want to selectively include data in a calculation based on a set of conditions. The case statement allows us to do that.  It is used to treat data differently based on a condition. 

The case statement has a list of conditions and a column to return if the condition is met, and it ends with an `else` that tells it how to handle those rows without a match. So basically, it accepts a list of conditions to match and a column to return if the condition matches. 

# Case Example
```
from sqlalchemy import case

stmt = select([
    func.sum(
      case([
        (census.columns.state == 'New York',
         census.columns.pop2008)
      ], else_=0))
])

results = connection.execute(stmt).fetchall()

print(results)
[(19465159, ...)]
```

# Cast Statement `cast()`

The cast statement is also useful when we are performing operations and we need to convert a column from one type to another. This is useful for converting integers to floats so we get the expected result when use it in division. It can also be used to convert strings to dates. It accepts a column or expression and the target Type to which you want to conver it.

# Percentage Example
```
from sqlalchemy import case, cast, Float

stmt = select([
    (func.sum(
      case([
          (census.columns.state == 'New York',
           census.columns.pop2008)
      ], else_=0)) /
      cast(func.sum(census.columns.pop2008),
        Float) * 100).label('ny_percent')
])

results = connection.execute(stmt).fetchall()

print(results)
[(Decimal('6.4267619765'),)]
```

# More on `case()` and `cast()`
It's possible to combine functions and operators in a single select statement as well. These combinations can be exceptionally handy when we want to calculate percentages or averages, and we can also use the `case()` expression to operate on data that meets specific criteria while not affecting the query as a whole. The `case()` expression accepts a list of conditions to match and the column to return if the condition matches, followed by an `else_` if none of the conditions match. We can wrap this entire expression in any function or math operation we like.

Often when performing integer division, we want to get a float back. While some databases will do this automatically, you can use the `cast()` function to convert an expression to a particular type.

# SQL Relationships

Tables can be related to one another via columns that act as a bridge between the tables. We use relationships to avoid duplicating data. For example, an employee table might be related to a location table so that we can know which location an employee works at without the need to copy the same location data in every employee's record. Table relationships allow us to change the data in one place. Back to the employee example, if that location moves to a new building, we'd be able to update the address once in the location table, and every employee related to that location would show the new address.

Another way that we might use relationships is to store additional details that we don't need to use as often. These relationships might be predefined in the table.

# Automatic Joins
```
stmt = select([census.columns.pop2008, state_fact.columns.abbreviation])
results = connection.execute(stmt).fetchall()

print(results)
[(95012, u'IL'), (95012, u'NJ'), (95012, u'ND'), (95012, u'OR'), ...]
```
# `join()`
We can use a join clause to add a relationship that isn't necessarily predefined in a query.  The join clause takes a related table and an expression that details the relationship. If the relation is predefined in the table and available via reflection, we don't need that expression. The join clause should be placed immediately right after the select statement  '`select()`' and prior to any '`where()`', '`order_by()`', or '`group_by()`' clauses. 

If you aren't selecting columns from both tables or the two tables don't have a defined relationship, you can still use the '`.join()`' method on a table to join it with another table and get extra data related to our query. The '`join()`' takes the table object you want to join in as the first argument and a condition that indicates how the tables are related to the second argument. Finally, you use the '`.select_from()`' method on the select statement to wrap the join clause. 

```
stmt = stmt.select_from(
    census.join(
        state_fact, census.columns.state == 
        state_fact.columns.name)
```

# `select_from()`
When we want to build queries that do not select a column from each table but use both tables in other clauses, we have to tell SQLAlchemy which tables to use in the query. The '`select_from()`' method of the '`select()`' statement allows to do just that, and a '`join()`' clause is passed as the argument to '`select_from()`'.

# `select_from()` Example
```
stmt = select([func.sum(census.columns.pop2000)])
stmt = stmt.select_from(census.join(state_fact))
stmt = stmt.where(state_fact.columns.circuit_court == '10')
result = connection.execute(stmt).scalar()

print(result)
14945252
```
# Joining Tables without Pre-defined Relationship
So far, we have been using the join statement with a relationship already existing in the database. However, often as a data scientist, we will get tables that have related data, but are not set up with an established relationship. To join tables, we can give the '`join()`' clause a boolean expression that explains how the tables are related. This is the same type of boolean expression we would use in a '`where()`' clause. This will only join rows from each table that can be related between the two columns. It also doesn't work if the columns are different types.

# `select_from()` Example 2
```
stmt = select([func.sum(census.columns.pop2000)])
stmt = stmt.selec_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))
stmt = stmt.where(state_fact.columns.census_division_name == 'East South Central')
result = connection.execute(stmt).scalar()

print(result)
16982311
```

# Hierarchical Tables

In addition to tables that join with other tables, there are also tables that join with themselves. These are called 'self-referential' or 'hierarchical' tables. These are commonly used to store organizational charts, geographic data, networks, and relationship graphs.

# `alias()`
A way to reference relationships between entries by another name within a table in a query. The '`alias()`' method creates a way to refer to the same table with two unique names.

# Querying Hierarchical Data

```
managers = employees.alias()

stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.labe('employee')])
     
stmt = stmt.select_from(employees.join(
    managers, managers.columns.id == employees.columns.manager))
    
stmt = stmt.order_by(managers.columns.name)

print(connection.execute(stmt).fetchall())
[(u'FILLMORE', u'GRANT'), (u'FILLMORE', u'ADAMS'), (u'HARDING', u'TAFT'), ...]
```

# Hierarchical Tables using Group_by and Func

Hierarchical tables can get tricky when performing '`group_by()`' or using functions '`func()`'. It's important to think of it as if it were two different tables. We should focus on having the table in the '`group_by()`' and the '`alias()`' in the function or vice versa. It is important to target '`group_by()`' at the right '`alias()`'.

It is imperative to use both the alias and the table in the query when using the '`join()`', otherwise, we could use the query to error or use a lot of resources. So be extra careful with what you perform functions on. If we don't find ourselves using both the alias and the table name for a query, don't create the alias at all.

# Querying Hierarchical Data
```
managers = employees.alias()

stmt = select([managers.columns.name, func.sum(employees.columns.sal)])

stmt = stmt.select_from(employees.join(managers, managers.columns.id == employees.columns.manager))

stmt = stmt.group_by(managers.columns.name)

print(connection.execute(stmt).fetchall())
[(u'FILLMORE', Decimal('96000.00')), (u'GARFIELD', Decimal('83500.00')), (u'HARDING', Decimal('52000.00')) ...]
```

# Dealing with Large Result Sets: `fetchmany()`

Dealing with large result sets can be problematic, as we might run out of memory or disk space to store the results. Thankfully, SQLAlchemy has a '`fetchmany()`'method that allows us to specify how many rows we want to act upon. It works by passing the number of records we want at once to the '`fetchmany()`' method and using the method in a loop. When there are no more records, '`fetchmany()`' will return an empty list. Because the result proxy does not know when we are done calling '`fetchmany()`', we must call the '`close()`' method on the result proxy when we are done.
```
# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state] += 1
        else:
            state_count[row.state] = 1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)
```

# Creating Databases and Tables

* Varies by the database type
* Databases like PostgreSQL and MySQL have command line tools to initialize the database
* With SQLite, the `creat_engine()` statement will create the database and file if they do not already exist

# Building a Table
```
from sqlalchemy import (Table, Column, String, Integer, Decimal, Boolean)

employees = Table('employees', metadata, 
    Column('id', Integer()),
    Column('name', String(255)),
    Column('salary', Decimal()),
    Column('active', Boolean())
    )
    
 metadata.create_all(engine)
 
 engine.table_names()
 [u'employees']
```
Creating tables can be done with SQLAlchemy just like queries. We still use the Table object similar to how we used it for reflection. We'll just replace the autoload keyword arguments with the Column objects we want to exist in the table. Once we have our table object, we can use the metadata's '`create_all()`' method and the engine to create the table in the actual database. While it's easy to create tables with SQLAlchemy, if you want to make changes to an existing table structure, such as adding or removing columns, you'll need to build raw SQL ALTER statements or use a tool like Alembic.

# Creating Tables - Additional Column Options

In addition to Columns having a type, they can also have constraints and defaults that are additional keyboard arguments to the Column object. With constraints, we can require that a column be '`unique`'' or specify that a column can not be empty or '`nullable`'. Default sets the initial value of a field if one is not supplied during an insert statement.

* `unique` forces all values for the data in a column to be unique
* `nullable` determines if a column can be empty in a row
* `default` sets a default value if one isn't supplied.

```
employees = Table('employees', metadata, 
    Column('id', Integer()),
    Column('name', String(255), unique=True, nullable=False),
    Column('salary', Float(), default=100.00),
    Column('active', Boolean(), default=True)
    )
    
employees.constraints
{CheckConstraint(...
Column('name', String(length=255), table=<employees>, nullable=False),
Column('salary', Float(), table=<employees>, default=ColumnDefault(100.0)),
Column('active', Boolean(), table=<employees>, default=ColumnDefault(True)) ...
UniqueConstraints(Column('name', String(length=22), table=<employees>, nullable=False))
)}
```

# Adding Data to a Table
* Done with the `insert()` statement
* `insert()` takes the table we are loading data into as the argument
* We add all the values we want to insert in with the `values` clause as `column=value` pairs
* Doesn't return any rows, so no need for a fetch method

# Inserting One Row
```
from sqlalchemy import insert

stmt = insert(employees).values(id=1, name='Jacob', salary=0.50, active=True)

result_proxy = connection.execute(stmt)

print(result_proxy.rowcount)
1
```

# Inserting Multiple Rows
* Build an insert statement without any values
* Build a list of dictionaries that represent all the values clauses for the rows you want to insert
* Pass both the `stmt` and the values list to the `execute()` method on connection

```
stmt = insert(employees)

values_list = [
    {'id': 2, 'name':'Rebecca', 'salary':2.00, 'active':True},
    {'id': 3, 'name': 'Bob', 'salary':0.00, 'active':False}
]

result_proxy = connection.execute(stmt, values_list)

print(result_proxy.rowcount)
2
```

# Loading CSV into a Table

We have used the `csv` module to set up a `csv_reader`, which is just a reader object that can iterate over the lines in a given CSV file - in this case, a census CSV file. Using the `enumerate()` function, you can loop over the `csv_reader` to handle the results one at a time. Here, for example, the first line it would return is:

`0 ['Illinois', 'M', '0', '89600', '95012']`

`0` is the `idx` - or line number - while `['Illinois', 'M', '0', '89600', '95012']` is the row, corresponding to the column names `'state'` , `'sex'`, `'age'`, `'pop2000'` and `'pop2008'`. `'Illinois'` can be accessed with `row[0]`, `'M'` with `row[1]`, and so on. You can create a dictionary containing this information where the keys are the column names and the values are the entries in each line. Then, by appending this dictionary to a list, you can combine it with an insert statement to load it all into a table!

```
# Create a insert statement for census: stmt
stmt = insert(census)

# Create an empty list and zeroed row count: values_list, total_rowcount
values_list =  []
total_rowcount = 0

# Enumerate the rows of csv_reader
for idx, row in enumerate(csv_reader):
    #create data and append to values_list
    data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3],
            'pop2008': row[4]}
    values_list.append(data)

    # Check to see if divisible by 51
    if idx % 51 == 0:
        results = connection.execute(stmt, values_list)
        total_rowcount += results.rowcount
        values_list = []

# Print total rowcount
print(total_rowcount)
```

# Updating Data in a Database

* It's also possible to edit update data in a database. This is done using the `update()` statement.
* Similar to the insert statement but includes a `where` clause to determind what record will be updated.
* We all all the values we want to update with the `values` clause as `column-value` pairs.

```
from sqlalchemy import update

stmt = update(employees)

stmt = stmt.where(employees.column.id == 3)

stmt = stmt.values(active=True)

result_proxy = connection.execute(stmt)

print(result_proxy.rowcount)
1
```

# Updating Multiple Rows
* Build a where clause that will select all the records you want to update.

```
stmt = update(employees)

stmt = stmt.where(employees.columns.active == True)

stmt = stmt.values(active=False, salary=0.00)

results_proxy = connection.execute(stmt)

print(result_proxy.rowcount)
3
```

# Correlated Updates
* Uses a `select()` statement to find the value for the column we are updating.
* Commonly used to update records to a maximum value or change a string to match an abbreviation from another table.

```
new_salary = select([employees.columns.salary])

new_salary = new_salary.order_by(desc(employees.columns.salary))

new_salary = new_salary.limit(1)

stmt = update(employees)

stmt = stmt.values(salary=new_salary)

result_proxy = connection.execute(stmt)

print(result_proxy.rowcount)
3
```

# Deleting Data from a Database

* Done with the `delete()` statement
* `delete()` takes the table we are loading data into as the argument
* A `where()` clause is used to choose which rows to delete
* Impossible to UNDO!

```
from sqlalchemy import delete

stmt = select([
    func.count(extra_employees.columns.id)
])

connection.execute(stmt).scalar()
3

delete_stmt = delete(extra_employees)

result_proxy = connection.execute(delete_stmt)

result_proxy.rowcount
3

```

# Deleting Specific Rows
* Build a `where()` clause that will select all the records you want to delete
* Be sure to check rowcount to make sure that no extra rows were deleted

```
stmt = delete(employees).where(employees.columns.id == 3)

result_proxy = connection.execute(stmt)

result_proxy.rowcount
1
```

# Dropping a Table Completely

* Uses the `drop()` method on the table
* Accepts the engine as an argument so it knows where to remove the table from
* Won't remove it from metadata until the python process is restarted

```
extra_employees.drop(engine)

print(extra_employees.exists(engine))
False
```

# Dropping all the Tables

* Uses the `drop_all()` method on MetaData

```
metadata.drop_all(engine)

engine.table_names()
[]
```